---
import type { CollectionEntry } from "astro:content";

import Date from "./Date.astro";
import BlogPostPreview from "./BlogPostPreview.astro";
interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const url = `/posts/${post.id}/`;
const title = post.data.title;
const tags = post.data.tags;
---

<style>
  section {
    border: 2px solid pink;
    margin: 20px 0;
    padding: 5px 20px;
    width: 100%;

    h2 {
      margin: 5px 0;
      text-transform: uppercase;
    }
  }

  .preview-footer {
    width: 100%;

    display: flex;
    .tags {
      margin-left: auto;

      a {
        padding: 2px 10px;

        &:hover {
          background-color: var(--link-highlight);

          font-style: italic;
        }
      }
    }
  }
  a {
    all: unset;
    cursor: pointer;
    text-decoration: none;
  }
</style>

<section>
  <a href={url}>
    <h2>{title}</h2>

    <BlogPostPreview post={post} />

    <div class="preview-footer">
      <Date date={post.data.pubDate} />
      <div class="tags">
        {tags.map((tag: string) => <a href={`/tags/${tag}`}>{"#" + tag}</a>)}
      </div>
    </div>
  </a>
</section>
