---
import type { CollectionEntry } from "astro:content";

import Date from "./Date.astro";
import BlogPostPreview from "./BlogPostPreview.astro";
import BlogPostTimeStampAndTags from "./BlogPostTimeStampAndTags.astro";
interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const url = `/posts/${post.id}/`;
const title = post.data.title;
---

<!-- NOTE: prose in the article makes the first child lose a whole bunch of head
space... -->
<article>
  <a href={url} class="h-full">
    <h2 class="pb-2 prose-2xl uppercase">{title}</h2>
    <BlogPostPreview post={post} />
  </a>
  <BlogPostTimeStampAndTags post={post} />
</article>
