---
import { Icon } from "astro-icon/components";

const items = [
  {
    href: "https://www.linkedin.com/in/yatescolin/",
    title: "Linkedin",
    iconName: "mdi:linkedin",
  },
  {
    href: "https://github.com/yatesco/",
    title: "GitHub",
    iconName: "mdi:github",
  },

  {
    href: "https://bsky.app/profile/colinyates.co.uk",
    title: "BlueSky",
    iconName: "mingcute:bluesky-social-fill",
  },

  {
    href: "https://mastodon.social/@yatesco",
    title: "Mastodon",
    iconName: "mdi:mastodon",
  },
  {
    href: "mailto:colin@colinyates.co.uk",
    title: "e-mail",
    iconName: "mdi:email",
  },
];
const currentYear = new Date().getFullYear();
---

<!-- styled so main image is centered and copyright is at the bottom.
 for large screens there is naturally enough gap between the bottom of
the media icons and the copyright. It's too small for less than that -->
<div class="h-full border-r-2 border-r-gray-400 min-h-96">
  <!-- the image and media links -->
  <!-- this first div is just so the nested div is centered - sigh -->
  <div class="flex flex-col justify-center items-center h-full">
    <div class="flex flex-col justify-center h-full
    text-center">
      <img
        class="h-auto lg:w-7/12 mx-auto rounded-full"
        src="/profile.jpg"
        alt="Profile picture of Colin Yates"
      />
      <p class="uppercase p-3">Colin Yates</p>
      <p class="uppercase p-3">Random thoughts from a random guy</p>

      <ul>
        {
          items.map((conf) => (
            <li class="inline-block">
              <a
                href={conf.href}
                target="_blank"
                rel="noopener me"
                aria-label={conf.title}
                title={conf.title}
              >
                <Icon name={conf.iconName} size="2em" />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <div id="copyright" class="w-full absolute bottom-0 py-2 text-center">
    `© Colin Yates ${currentYear}`
  </div>
</div>
<script>
  const updateCopyright = () => {
    const now = new Date();
    const copyright = document.getElementById("copyright");
    if (copyright) {
      copyright.innerHTML = "© Colin Yates " + now.getFullYear();
    }
  };

  updateCopyright();
  setInterval(() => {
    updateCopyright();
  }, 2000);
</script>
